services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: sushi
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nats:
    image: nats:2-alpine
    ports:
      - "4222:4222"

volumes:
  postgres_data:

